@import url(https://fonts.googleapis.com/css?family=Roboto:300,100);
@import url(https://use.fontawesome.com/releases/v5.0.10/css/all.css);


body {
    background-color: #eee;
}

a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

a:hover {
    color: #000000;
    text-decoration: none;
}
