.home {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.home h1 {
    font-size: 60px;
    margin-bottom: 15px;
    font-weight: 300;
}

/* for Mobile */

@media only screen and (max-width: 768px) {
    .home h1 {
        margin-bottom: 75px;
    }
}

.home h2 {
    font-size: 42px;
    font-weight: 100;
}


/*---Arrow button----*/

.load-more {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    top: 80%;
    left: 50%;
    margin: -20px 0 0 -20px;
}


/* for Mobile */

@media only screen and (max-width: 768px) {
    .load-more {
        top: 80%;
        z-index: 999;
         left: 53%;
    }
}

.load-more:before,
.load-more:after {
    position: absolute;
    display: block;
    content: '';
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
    margin-top: -15px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #005db7;
    border-right-color: #005db7;
    border-radius: 0 0 5px 0;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all .4s ease-in-out;
}

.load-more.active:before {
    border-radius: 50%;
    animation: .8s rotate .4s linear forwards infinite;
}

.load-more.active:after {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    animation: .8s rotate2 .4s linear forwards infinite;
}

@keyframes rotate {
    to {
        transform: translate(-50%, -50%) rotate(405deg);
    }
}

@keyframes rotate2 {
    to {
        transform: translate(-50%, -50%) rotate(-315deg);
    }
}

.load-more.disabled:before,
.load-more.disabled:after {
    margin-top: 0;
    transform: translate(-50%, -50%) rotate(135deg) rotateY(180deg);
}


/* for Mobile */

@media only screen and (max-width: 768px) {
    .illo {}
}
