.home {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.home h1 {
    font-size: 60px;
    margin-bottom: 15px;
    font-weight: 300;
}

/* for Mobile */

@media only screen and (max-width: 768px) {
    .home h1 {
        margin-bottom: 75px;
    }
}

.home h2 {
    font-size: 42px;
    font-weight: 100;
}


/*---Arrow button----*/

/*-

.load-more {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    top: 90%;
    left: 50%;
    margin: -20px 0 0 -20px;
}

.load-more:before,
.load-more:after {
    position: absolute;
    display: block;
    content: '';
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
    margin-top: -15px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: black;
    border-right-color: black;
    border-radius: 0 0 5px 0;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all .4s ease-in-out;
}

.load-more.active:before {
    border-radius: 50%;
    animation: .8s rotate .4s linear forwards infinite;
}

.load-more.active:after {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    animation: .8s rotate2 .4s linear forwards infinite;
}

@keyframes rotate {
    to {
        transform: translate(-50%, -50%) rotate(405deg);
    }
}

@keyframes rotate2 {
    to {
        transform: translate(-50%, -50%) rotate(-315deg);
    }
}

.load-more.disabled:before,
.load-more.disabled:after {
    margin-top: 0;
    transform: translate(-50%, -50%) rotate(135deg) rotateY(180deg);
}
-*/

/* for Mobile */

@media only screen and (max-width: 768px) {
    .illo {}
}


/* The loader container 

.loader {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 200px;
    height: 100px;
    margin-top: -100px;
    margin-left: -100px;
    perspective: 1000px;
    transform-style: preserv3d;
}

.loader--reflect {
    margin-top: 0;
}

.loader--reflect:after {
    content: '';
    position: absolute;
    top: 0;
    left: -25%;
    width: 150%;
    height: 110%;
    background: linear-gradient(0deg, rgba(238, 238, 238, 1), rgba(238, 238, 238, 1) 20%, rgba(238, 238, 238, 0.3));
}


/* The bar */

/*

.bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 100px;
    background-color: #1c5199;
    transform: scaleY(0);
    transform-style: preserve3d;
    animation: bar 3s cubic-bezier(.81, .04, .4, .7) infinite;
}

.bar:nth-child(2) {
    left: 20px;
    background-color: #205daf;
    animation-delay: 50ms;
}

.bar:nth-child(3) {
    left: 40px;
    background-color: #2468c5;
    animation-delay: 100ms;
}

.bar:nth-child(4) {
    left: 60px;
    background-color: #2a74d8;
    animation-delay: 150ms;
}

.bar:nth-child(5) {
    left: 80px;
    background-color: #4082dc;
    animation-delay: 200ms;
}

.bar:nth-child(6) {
    left: 100px;
    background-color: #5590e0;
    animation-delay: 250ms;
}

.bar:nth-child(7) {
    left: 120px;
    background-color: #6b9ee4;
    animation-delay: 300ms;
}

.bar:nth-child(8) {
    left: 140px;
    background-color: #81ace8;
    animation-delay: 350ms;
}

.bar:nth-child(9) {
    left: 160px;
    background-color: #96baec;
    animation-delay: 400ms;
}

.bar:nth-child(10) {
    left: 180px;
    background-color: #acc8f0;
    animation-delay: 450ms;
}

.loader--reflect .bar {
    animation-name: bar-reflect;
}

@keyframes bar {
    0% {
        transform: rotateZ(-180deg) rotateX(-360deg);
    }
    75%,
    100% {
        transform: rotateZ(0) rotateX(0);
    }
}

@keyframes bar-reflect {
    0% {
        transform: rotateZ(180deg) rotateX(360deg);
    }
    75%,
    100% {
        transform: rotateZ(0) rotateX(0);
    }
}

 */
