.home {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-top: -10px;
}

.home h1 {
    font-size: 60px;
    margin-bottom: 15px;
    font-weight: 300;
}

/* for Mobile */

@media only screen and (max-width: 768px) {
    .home h1 {
        margin-bottom: 50px;
    }
}

.home h2 {
    font-size: 42px;
    font-weight: 100;
}


/*---Arrow button------*/

.animated-arrow:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.textExplore {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}


