#Skills {
    height: 100%;
    margin-bottom: 10%;
}


/* for Mobile */

@media only screen and (max-width: 768px) {
    #Skills {
        margin-bottom: 25%;
    }
}

#Skills h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 100;
}


/*--Linear Progress BAr--*/

#Progress_Status {
    width: 100%;
    background: #e9e5e2;
    margin: 80px 0 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
    background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: linear-gradient(top, #e1ddd9, #e9e5e2);
    height: 20px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
    -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
    box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
}

#myprogressBar,
#myprogressBar1,
#myprogressBar2,
#myprogressBar3,
#myprogressBar4,
#myprogressBar5,
#myprogressBar6,
#myprogressBar7,
#myprogressBar8,
#myprogressBar9,
#myprogressBar10 {
    width: 1%;
    height: 20px;
    background-color: #005db7;
    text-align: center;
    line-height: 32px;
    color: black;
    border-radius: 10px;
}


/*progress circle*/